@import '~newspack-components/shared/scss/colors';

.components-card {
	margin: 2rem auto;
	max-width: 520px;

	&__header {
		h2 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
		}
	}

	.components-notice {
		margin: 1em 0;
	}
}

.newspack-logo {
	display: block;
	fill: currentColor;
	height: inherit;
	padding: 0;

	&__wrapper {
		background: $primary-500;
		display: flex;
		padding: 12px 0;
		position: relative;

		&::before {
			background: $primary-500;
			bottom: 0;
			content: '';
			display: block;
			left: -20px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
		}

		.components-button {
			color: white;
			display: block;
			height: 32px;
			padding: 0;
			width: 100%;

			&:focus,
			&:hover {
				box-shadow: none;
				color: white;
				outline: none;
			}

			&:focus {
				svg {
					outline: 1px solid white;
					outline-offset: 4px;
				}
			}
		}
	}
}

.newspack-content-converter {
	&__wrapper {
		background: #f1f1f1;
		bottom: 0;
		display: block;
		flex-direction: column;
		left: 0;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;

		&.is-active {
			cursor: wait;
		}

		.components-spinner {
			margin: 1em 0;
		}

		.components-button + .components-button {
			margin-left: 8px;
		}

		.newspack-logo {
			margin: 0 20px;
		}
	}

	&__batch {
		.components-spinner {
			margin: 0 1em 0 0;
		}
	}
}

.interface-interface-skeleton {
	&__body {
		opacity: 0;
	}

	&__footer {
		display: none;
	}
}
