@import '~@wordpress/base-styles/colors';

.components-card {
	margin: 2rem auto;
	max-width: 520px;

	&__header {
		h2 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
		}
	}

	.components-notice {
		margin: 1em 0;
	}
}

.newspack-logo__wrapper {
	display: flex;
	justify-content: center;

	.components-button {
		color: $gray-400;
		height: 32px;
		padding: 0;

		&:hover {
			color: $gray-900;
		}
	}

	.newspack-logo {
		display: block;
		fill: currentColor;
		height: inherit;
		padding: 0;
	}
}

.newspack-content-converter {
	&__wrapper {
		background: #f1f1f1;
		bottom: 0;
		display: block;
		flex-direction: column;
		left: 0;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;

		&.is-active {
			cursor: wait;
		}

		.components-spinner {
			margin: 1em 0;
		}

		.components-button + .components-button {
			margin-left: 8px;
		}
	}

	&__batch {
		.components-spinner {
			margin: 0 1em 0 0;
		}
	}
}

.interface-interface-skeleton__footer {
	display: none;
}
